NEXT_PUBLIC_MIDNIGHT_NETWORK=preprod
NEXT_PUBLIC_INDEXER_URL=https://indexer.preprod.midnight.network/api/v1/graphql
NEXT_PUBLIC_INDEXER_WS_URL=wss://indexer.preprod.midnight.network/api/v1/graphql/ws
NEXT_PUBLIC_PROOF_SERVER_URL=https://proof-server.preprod.midnight.network